/* https://www.pngkey.com/png/full/237-2373068_linuxserver-beets-cartoon-beet-png.png */

@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap');

.Home {
  display: flex;
  font-family: 'Cabin', sans-serif;
  text-align: center;
  margin: 9rem 0;
  padding: auto;
  color: white;
}
.container {
  padding: 20px;
  margin: auto;
  width: 100%;
}

body {
  background-color: #f7f7f7;
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  color: white;

}

input {
  margin-left: 10px;
  font-size: 20px;
  font-family: fantasy;
  padding-left: 10px;
}

.table {


  text-align: center;
  border-spacing: 1px;

}

td.instrument {
  text-align: center;
  font-family: 'Cabin', sans-serif;
  
  padding: 7px;
  background-color: #846cff  ;

  
 
}

.volTempo{

  position: relative;
  left: 550px;
  top :-50px;

}

.tempoBorder {
  position: relative;
  left: 0px;
  top :-30px;

  width: 150px;
  height: 50px;
  flex-grow: 0;
  font-family: SpaceMono;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #cbd2d9;
 
}

.btnGroup {
  display: flex;
  flex-direction: row;
}
.tCell {
  /* border-radius: 3px; */
  width: 5px;
  height: 5px;
}

.volIcon {
  color: #ffffff;
}

.titleImg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1580px) {
  .container {
    width: 70%;
    /* border-radius: 5px; */
  }
}

@media only screen and (max-width: 1300px) {
  .container {
    width: 88%;
  }
}
@media only screen and (max-width: 1100px) {
  .container {
    width: 95%;
  }
}

.progress_container_purple {
 
  
  left: 0px;
  top :100px;
  display:opacity;
  width: 1920px;
  height: 90px;
  margin: 112px 0 22px;
  padding: 19px 364px 15px 459px;
  box-shadow: 0 4px 13px 0 rgba(50, 63, 75, 0.3);
  background-color: #846cff;
}
.btn_play_circle_purple {
 

  width: 56px;
  height: 56px;
  margin: 0 30px 0 0;
  object-fit: contain;
  box-shadow: 0 4px 13px 0 rgba(50, 63, 75, 0.3);
}
.btn_stop_circle_purple {

  width: 56px;
  height: 56px;
  margin: 0 52px 0 30px;
  object-fit: contain;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.musicplay{

  position: relative;
  left: 650px;
  top :-80px;

}
.mint{

  position: relative;
  left: 1650px;
  top :-130px;

}

.tabledgn{

  position: relative;
  left: 450px;
  top :-80px;

}
.colorpick{
 
  position: relative;
  left: 850px;
  top :-150px;

}

