.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
}
.modal button {
    outline: none;
    cursor: pointer;
    border: 0;
}
.modal > section {
    width: 90%;
    max-width: 450px;
    margin:0 auto;
    border-radius: .3rem;
    background-color: #fff;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-show .3s;
    overflow: hidden;
}
.modal > section > header {
    position: relative;
    padding: 16px 64px 16px 16px;
    background-color: #f1f1f1;
    font-weight: 700;
}
.modal > section > header button {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: #999;
    background-color: transparent;
}
.modal > section > main {

    padding: 16px;
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
}
.modal > section > footer {
    padding: 12px 16px;
    text-align: right;
}
.modal > section > footer button {
    padding: 6px 12px;
    color: #fff;
    background-color: #6c757d;
    border-radius: 5px;
    font-size: 13px;
}
.modal.openModal {
    display: flex;
    align-items: center;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-bg-show .3s;
}
@keyframes modal-show {
    from {
        opacity: 0;
        margin-top: -50px;
        width: 800px;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}
@keyframes modal-bg-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.input {


   width: 119px;
    height: 53px;
  flex-grow: 0;
  margin: 34px 8px 12px 27px;
  padding: 1px 0px 8px 6.9px;
  font-family: SpaceMono;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #846cff;
    display: table-cell;
    vertical-align: middle;
    border: solid 1px #846cff;
    background-color: #f5f7fa;
  }
  
  
  .input2 {
    position:relative;
    top:-74px;
    left:110px;
    width: 300px;
    height: 53px;
    flex-grow: 0;
    margin: 21px 12px 15px 0;
    padding: 14px 23px 5px 8px;
    border: solid 1px #846cff;
    background-color: #f5f7fa;
  }

  .Rectangle-460 {
    width: 115.3px;
    height: 31.1px;
    flex-grow: 0;

    background-color: #70f6f3;


        margin: 0 10.9px 8.7px 13.9px;
        font-family: SpaceMono;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #846cff;
      
  }